.workspace-status
  vertical-align middle
  height inherit
  color inherit
  outline none

  &.disabled span
    color $disabled-color

  span.danger:hover
    color $che-delete-label-color

  span.success:hover
    color #00c183
